html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #e5e5e5;
  height: 100%;
}
.frame.wrapper {
  border-right: 5px solid #425c9e;
  border-left: 5px solid #425c9e;
  height: 100%;
  padding: 30px 0 40px 0;
}
.frame.navbar {
  background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #425c9e), color-stop(100%, #4b65a6));
  background: -webkit-linear-gradient(90deg, #425c9e 0%, #4b65a6 100%);
  background: -moz-linear-gradient(90deg, #425c9e 0%, #4b65a6 100%);
  background: -ms-linear-gradient(90deg, #425c9e 0%, #4b65a6 100%);
  background: -o-linear-gradient(90deg, #425c9e 0%, #4b65a6 100%);
  background: linear-gradient((90 + 90) - (90 * 2)deg, #425c9e 0%, #4b65a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b65a6', endColorstr='#ff425c9e', GradientType=0);
  min-height: 30px;
  height: 30px;
}
.frame.navbar .frame-title {
  color: #FFF;
  margin: 5px 0;
}
.frame.navbar .frame-title .dropdown {
  display: inline-block;
  position: relative;
}
.frame.navbar .frame-title .dropdown [data-toggle="dropdown"] {
  cursor: default;
}
.frame.navbar .frame-title .dropdown:after {
  position: absolute;
  bottom: -3px;
  left: 50%;
  content: "";
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.frame.navbar .frame-title .dropdown .dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-top: 4px;
  width: 165px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #425c9e;
}
.frame.navbar .frame-title .dropdown .dropdown-menu .btn-group {
  margin-top: -3px;
}
.frame.navbar .frame-title .dropdown .dropdown-menu .btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: #425c9e;
}
.frame.navbar .frame-title .dropdown .dropdown-menu .btn-group .btn:first-child {
  border-left-width: 0;
}
.frame.navbar .frame-title .dropdown .dropdown-menu .btn-group .btn:last-child {
  border-right-width: 0;
}
.frame.navbar .frame-controls {
  margin-right: 0;
}
.frame.navbar .frame-controls .minimize,
.frame.navbar .frame-controls .maximize,
.frame.navbar .frame-controls .exit {
  line-height: 20px;
  margin: 5px;
  padding: 0 5px;
  cursor: default;
  color: #FFF;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}
.frame.navbar .frame-controls .minimize:hover,
.frame.navbar .frame-controls .maximize:hover,
.frame.navbar .frame-controls .exit:hover {
  -webkit-transition: background-color color ease-out 0.1s;
  -moz-transition: background-color color ease-out 0.1s;
  -o-transition: background-color color ease-out 0.1s;
  transition: background-color color ease-out 0.1s;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.frame.navbar .frame-controls .exit:hover {
  color: #FF4136;
}
.channel-switch {
  width: 200px;
  height: 100%;
  background-color: #ecf0f1;
  overflow-y: auto;
}
.channel-switch .nav .headline {
  font-weight: bold;
  text-align: center;
}
.channel-switch .nav a {
  color: #333;
  padding: 5px 15px;
  -webkit-transition: color ease-in-out 0.15s;
  -moz-transition: color ease-in-out 0.15s;
  -o-transition: color ease-in-out 0.15s;
  transition: color ease-in-out 0.15s;
}
.channel-switch .nav a:hover {
  background-color: transparent;
  color: #66cccc;
}
.channel-switch .nav .active a {
  color: #66cccc;
  font-weight: bold;
}
.channel {
  position: absolute;
  top: 30px;
  left: 205px;
  right: 5px;
  bottom: 40px;
}
.channel .channel-nav {
  background-color: #425c9e;
  min-height: 40px;
  height: 40px;
}
.channel .channel-nav .channel-controls a {
  color: #FFF;
  padding: 10px 10px;
  text-shadow: 0 -1px #000000;
  -webkit-transition: color ease-in-out 0.15s;
  -moz-transition: color ease-in-out 0.15s;
  -o-transition: color ease-in-out 0.15s;
  transition: color ease-in-out 0.15s;
}
.channel .channel-nav .channel-controls a:hover {
  color: #66cccc;
  background-color: transparent;
}
.channel .channel-nav .channel-input {
  display: inline-block;
  margin-left: 5px;
  margin-top: 4px;
  width: calc(100% - 111px);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #4a5664;
  background-color: #ecf0f1;
  -webkit-transition: background-color border-color ease-in-out 0.15s;
  -moz-transition: background-color border-color ease-in-out 0.15s;
  -o-transition: background-color border-color ease-in-out 0.15s;
  transition: background-color border-color ease-in-out 0.15s;
}
.channel .channel-nav .channel-input:focus {
  background-color: #FFF;
  border-color: #66cccc;
}
.channel .channel-user {
  float: right;
  width: 200px;
  height: 100%;
  background-color: #ecf0f1;
  overflow-y: auto;
}
.channel .channel-user li {
  position: relative;
}
.channel .channel-user li a {
  color: #333;
  padding: 5px 15px 5px 25px;
  -webkit-transition: color ease-in-out 0.15s;
  -moz-transition: color ease-in-out 0.15s;
  -o-transition: color ease-in-out 0.15s;
  transition: color ease-in-out 0.15s;
}
.channel .channel-user li a:hover {
  background-color: transparent;
  color: #66cccc;
}
.channel .channel-user li.away a {
  color: #CCC;
}
.channel .channel-user li.nop:before,
.channel .channel-user li.qop:before,
.channel .channel-user li.sop:before,
.channel .channel-user li.op:before,
.channel .channel-user li.hop:before,
.channel .channel-user li.vop:before {
  position: absolute;
  font-weight: 700;
  top: 5px;
  left: 5px;
  width: 15px;
  text-align: center;
}
.channel .channel-user li.nop:before {
  content: "!";
  color: #F012BE;
}
.channel .channel-user li.qop:before {
  content: "~";
  color: #0074D9;
}
.channel .channel-user li.sop:before {
  content: "&";
  color: #FF4136;
}
.channel .channel-user li.op:before {
  content: "@";
  color: #7FDBFF;
}
.channel .channel-user li.hop:before {
  content: "%";
  color: #2ECC40;
}
.channel .channel-user li.vop:before {
  content: "+";
  color: #FF851B;
}
.channel .channel-messages-wrapper {
  background-color: #FFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  height: 100%;
  width: calc(100% - 200px);
  overflow-y: auto;
}
.channel .channel-messages-wrapper .channel-messages {
  display: table;
}
.channel .channel-messages-wrapper .channel-messages .message {
  display: table-row;
}
.channel .channel-messages-wrapper .channel-messages .message:nth-child(odd) {
  background-color: #f9f9f9;
}
.channel .channel-messages-wrapper .channel-messages .message .time,
.channel .channel-messages-wrapper .channel-messages .message .user,
.channel .channel-messages-wrapper .channel-messages .message .content {
  display: table-cell;
  padding: 5px 15px;
  border-bottom: 1px solid #CCC;
}
.channel .channel-messages-wrapper .channel-messages .message .time {
  white-space: nowrap;
  border-right: 1px solid #CCC;
}
.channel .channel-messages-wrapper .channel-messages .message .user {
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
  border-right: 1px solid #CCC;
}
